body{
    background-image: url("../src/Images/Particles.webp");
    background-position: fixed;
}

.Todo-App{
    border: 2px solid rgb(180, 125, 180);
    padding: 1rem;
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    margin-top: 55px;
    border-radius: 55px;
    background: transparent;
}

h1{
    text-align: center;
    padding: 1rem;
    color: red;
}

ul{
    list-style: none;
    display: flex;
    margin-bottom: 25px;
}
li{
    text-decoration: none;
    flex-direction: row;
    text-align: center;
    margin: auto;
    color:deeppink;
    font-size: large;
    font-weight: 500;
}

.task{
    box-sizing: border-box;
    text-align: center;
    padding: 1.5rem;
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: lightblue;
}

input{
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    color: red;
    font-size: large;
    font-weight: 500;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#edit-Task{
    margin-left: 58px;
}


button{
    margin: 0px 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}




.new-Task-Adding{
    padding: 1rem;
    text-align: center;
}






@media(max-width:420px){
    .Todo-App{
        border: 2px solid purple;
        padding: 0.3rem;
        box-sizing: border-box;
        max-width: 370px;
        margin: auto;
        margin-top: 55px;
        border-radius: 25px;
    }

    .task{
        box-sizing: border-box;
        text-align: center;
        padding: 1.5rem;
        border: 1px solid black;
        margin-bottom: 15px;
        border-radius: 20px;
    }

    input{
        padding: 0.5rem;
        text-align: center;
        border-radius: 10px;
        color: red;
        font-size: medium;
        font-weight: 500;
    }
    #edit-Task{
        margin-left: 25px;
    }

    button{
        margin: 0px 10px;
        padding: 4px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
    button:hover{
        background-color: green;
        color: white;
        cursor: pointer;
    }
};

/*
    For mobile and tab screen

.Todo-App{
    border: 2px solid red;
    padding: 1rem;
}

h1{
    text-align: center;
    padding: 1rem;
}

ul{
    list-style: none;
    display: flex;
}
li{
    text-decoration: none;
    flex-direction: row;
    text-align: center;
    margin: auto;
}





.new-Task-Adding{
    padding: 1rem;
    text-align: center;
}


*/